[submodule "with-gfx/components/ESP32-HUB75-MatrixPanel-I2S-DMA"]
	path = with-gfx/components/ESP32-HUB75-MatrixPanel-I2S-DMA
	url = https://github.com/diplfranzhoepfinger/ESP32-HUB75-MatrixPanel-DMA.git
[submodule "with-gfx/components/Adafruit-GFX-Library"]
	path = with-gfx/components/Adafruit-GFX-Library
	url = https://github.com/diplfranzhoepfinger/Adafruit-GFX-Library.git
[submodule "with-gfx/components/Adafruit_BusIO"]
	path = with-gfx/components/Adafruit_BusIO
	url = https://github.com/diplfranzhoepfinger/Adafruit_BusIO.git
